# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Prisma related files
prisma/.env
prisma/migrations/

# Next.js build output
.next/
out/

# TypeScript build folder
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.DS_Store

# Package lock files
package-lock.json
yarn.lock

# Ignore Next.js cache and build artifacts
.next/
.vercel/
.vscode/
coverage/

# Ignore Tailwind CSS build artifacts
*.css.map

# Ignore postcss config output
postcss.config.mjs
node_modules\n.env\n.next
