@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom colors and styles */
:root {
  --background: #0a0a0a; /* Main background color */
  --foreground: #00ffff; /* Heading and button color */
  --accent: #ff00ff;     /* Accent color */
  --alt-background: #ffffff; /* Alternative background color */
  --alt-color: #0a0a0a;      /* Alternative text color */
}

/* Dark mode alternative */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #00ffff;
    --accent: #ff00ff;
    --alt-background: #ffffff;
    --alt-color: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Bebas Neue', sans-serif;
}

/* Accent color styles */
a, h1, h2, h3, h4, h5, h6, button {
  color: var(--foreground);
}

a:hover, button:hover {
  color: var(--accent);
}

.bg-alt {
  background-color: var(--alt-background);
  color: var(--alt-color);
}

@layer utilities {
  .text-accent {
    color: var(--accent);
  }
  .bg-accent {
    background-color: var(--accent);
  }
}
